body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #FFFFFF;
  text-align: center;
  padding: 40px;
}
table.center {
  margin-left:auto;
  margin-right:auto;
}

table {
    border-collapse: collapse;
}

th {
    background-color: #1b2355;
    color: white;
}

th.lat, th.lon {
    width: 110px;
}

table,th,td {
  border:1px solid black;
  padding:10px;
}

#splash {
  text-align: center;
  background: url(../image/bg.jpg) 50% 0 no-repeat;
  padding-top: 280px;
  padding-bottom: 400px;
  padding-right: 100px;
  padding-left: 100px;
  
}

#splash h1 {
    text-shadow: -2px 2px 2px #D7A21C;
}

#splash a:link {
    color: #E7B22C;
    text-decoration: none;
}

#splash a:visited {
    color: #E7B22C;
    text-decoration: none;
    /*text-shadow: -1px 1px 1px #221411;*/
}

#errortext {
    color: #c01b15;
}