{% extends "base.html" %}
{% block title %}Vessel List{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block navbar %}
    <p>Want to create your own page? <a href='{{ loginurl }}'>Login</a></p>
{% endblock %}
{% block content %}
    <h1>Current Vessels</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Callsign</th>
                <th>Distance from you.</th>
            </tr>
        {% for vessel in vessels %}
            <tr>
                <td><a href='/vessel/{{ vessel.key.id() }}'>{{ vessel.name }}<a></td>
                <td>{{ vessel.name }}</td>
                <td></td>
            </tr>                   
        {% endfor %}
        </ul>
        <table>
{% endblock %}
