<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>{% block title %}{% endblock %} | Keelscape</title>
    {% endblock %}
</head>
{% block body %}
<body>
    <div id="navbar">{% block navbar %}<p>Want to get your own map? <a href='{{ loginurl }}'>Sign Up</a></p>{% endblock %}</div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        <br>A new project by <a href="https://github.com/hmacread">Hugh Macready</a>.
        {% endblock %}
    </div>
{% block script %}{% endblock %}
</body>
{% endblock %}
