{% extends "vessel.html" %}
{% block title %}{{ vessel.name }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block navbar %}
    <p>Logged in as {{ user.nickname() }} <a href="{{ logouturl }}">Logout</a><p>
{% endblock %}
{% block reportform %}
    <h2>Add a position: </h2>
{% endblock %}
{% block reportrow %}
        <tr>
            <form action="{{ submit_wpt_url }}" method="post">
            <td><input type="text" name="latdeg" maxlength="3" size="3">°<input type="text" name="latmin" size="6">min</td>
            <td><input type="text" name="londeg" maxlength="3" size="3">°<input type="text" name="lonmin" size="6">min</td>
            <td><input type="datetime" name="reporteddate" size="15"></td>
            <td><input type="text" name="depth" size="1">m</td>
            <td><input type="text" name="speed" maxlength="2" size="2">kts</td>
            <td><input type="text" name="course" maxlength="3" size="3">°T</td>
            <td><textarea name="comment" rows="2" cols="40"></textarea></td>
            <td></td>
            <td><input type="submit" name="report"></td>
            </form>
        </tr>
{% endblock %}
{% block privatedata %}
    <p><b>Email: {{ vessel.email }}</b></p>
    <p><b>Callsign:</b> {{ vessel.callsign }}</p>
    <p><b>Flag:</b> {{ vessel.flag }}</p>
    <p><b>Home Port:</b>  {{ vessel.home_port }}</p>
{% endblock %}
{#{% block editlink %}<p><a href='/editvessel'>Edit</a></p>{% endblock %}#}
{% block publicview %}<p><a href='{{ pulic_link }}'>View your page as the general public</a></p>{% endblock %}