{% extends "vessel.html" %}
{% set active_page = "myvessel" %}
{% block title %}{{ vessel.name }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block navbar %}
    <p>Logged in as {{ user.nickname() }} <a href="{{ logouturl }}">Logout</a><p>
{% endblock %}
{% block reportform %}
    <h2>Add a position: </h2>
{% endblock %}
{% block lastcolumn %}<th>Actions</th>{% endblock %}
{% block reportrow %}
        <tr class="form">
            <form action="{{ submit_wpt_url }}" method="post">

            <td class="latform{% if 'lat' in errors %} error-bg{% endif %}">
                <input type="text" name="latdeg" value="{{ latdeg }}" maxlength="2" size="2">°
                <input type="text" name="latmin" value="{{ latmin }}"size="6">
                <select name="dirlat">
                    <option {% if dirlat == 'N' %}selected="selected"{% endif %} value="N">N</option>
                    <option {% if dirlat == 'S' %}selected="selected"{% endif %} value="S">S</option>
                </select>
            </td>
            <td class="lonform{% if 'lon' in errors %} error-bg{% endif %}">
                <input type="text" name="londeg" value="{{ londeg }}" maxlength="3" size="3">°
                <input type="text" name="lonmin" value="{{ lonmin }}"size="6">
                <select name="dirlon">
                    <option {% if dirlon == 'E' %}selected="selected"{% endif %} value="E">E</option>
                    <option {% if dirlon == 'W' %}selected="selected"{% endif %} value="W">W</option>
                </select>
            </td>
            <td {% if 'report_date' in errors %}class="error-bg"{% endif %}><input type="datetime" name="report_date" value="{{ report_date }}" size="18"></td>
            <td {% if 'depth' in errors %}class="error-bg"{% endif %}><input type="text" name="depth" value="{{ depth }}" size="3"></td>
            <td {% if 'speed' in errors %}class="error-bg"{% endif %}><input type="text" name="speed" value="{{ speed }}" maxlength="3" size="3"></td>
            <td {% if 'course' in errors %}class="error-bg"{% endif %}><input type="text" name="course" value="{{ course }}" maxlength="3" size="3"></td>
            <td {% if 'comment' in errors %}class="error-bg"{% endif %}><textarea name="comment" rows="2" cols="40"></textarea></td>
            <td><input type="submit" name="report" value="Submit"></td>
            </form>
        </tr>
{% endblock %}
{% block privatedata %}
    <p><b>Email: {{ vessel.email }}</b></p>
    <p><b>Callsign:</b> {{ vessel.callsign }}</p>
    <p><b>Flag:</b> {{ vessel.flag }}</p>
    <p><b>Home Port:</b>  {{ vessel.home_port }}</p>
{% endblock %}
{#{% block editlink %}<p><a href='/editvessel'>Edit</a></p>{% endblock %}#}
{% block publicview %}<p><a href='{{ public_link }}'>View your page as the general public</a></p>{% endblock %}