{% extends "base.html" %}
{% block title %}New Vessel{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block navbar %}
    <p>Logged in as {{ user.nickname() }} <a href="{{ logouturl }}">Logout</a><p>
{% endblock %}
{% block content %}
<h1>Welcome to MMS!</h1>
<p>Tell us about your boat..</p>

<form action="/newvessel" method="post">

    <h3>Name: *</h3>
    <p>i.e. Seadancer</p>    
    <p><input type="text" name="name" value="{{ vessel.name }}"></p>

    <h3>Home Port:</h3>
    <p>i.e. Redondo Beach, Keel, ..</p>
    <p><input type="text" name="home_port" value="{{ vessel.home_port }}"></p>
    
    <h3>Flag:</h3>
    <p>i.e. USA, Germany, etc</p>
    <p><input type="text" name="flag" value="{{ vessel.flag }}"></p>
           
    <h3>Length Over All (in meters)</h3>
    <p>i.e. 13.3 for a (44ft vessel)</p>
    <p><input type="text" name="length_over_all" value="{{ vessel.length_over_all }}"></p>

    <h3>Draft (in meters)</h3>
    <p>i.e. 2.0 for a (6"5' draft)</p>
    <p><input type="text" name="draft" value="{{ vessel.draft }}"></p>
    
    <h3>Callsign:</h3>
    <p>Must exactly match HF callsign used for YOTREPS style reports.</p>
    <p><input type="text" name="callsign" value="{{ vessel.callsign }}"></p>
    
    <h3>MMSI</h3>
    <p>i.e. 512123456.</p>
    <p><input type="text" name="mmsi" value="{{ vessel.mmsi }}"></p>
    
    <h3>On Board Email Address:</h3>
    <p>i.e. XYZ1234@sailmail.com or ABCXYZ@winlink.org.</p>
    <p><input type="text" name="onboard_email_address" value="{{ vessel.onboard_email_address }}"></p>
    <p>Note: We will never distribute email to this address, it is used to verify received position reports only.</p>
        

    <p><input type="submit"></p>
</form>

{% endblock %}