{% extends "base.html" %}
{% block title %}New Vessel{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block navbar %}
    <p>Logged in as {{ user.nickname() }} <a href="{{ logouturl }}">Logout</a><p>
{% endblock %}
{% block content %}
<h1>Welcome to MMS!</h1>
<p>Tell us about your boat..</p>

<div id="vesselform">
    <form action="/newvessel" method="post">

        <h3>Name: *</h3>
        <p><input type="text" name="name" value="{{ vessel.name }}"><br>
        i.e. Seadancer</p>

        <h3>Home Port:</h3>
        <p><input type="text" name="home_port" value="{{ vessel.home_port }}"><br>
        i.e. Redondo Beach, Montepellier ..</p>
    
        <h3>Flag:</h3>
        <p><input type="text" name="flag" value="{{ vessel.flag }}"><br>
        i.e. USA, France ..</p>
           
        <h3>Length Over All (in meters)</h3>
        <p><input type="text" name="length_over_all" value="{% if vessel.length_over_all %}{{ vessel.length_over_all }}{% endif %}"><br>
        i.e. 13.3 for a (44ft vessel)</p>

        <h3>Draft (in meters)</h3>
        <p><input type="text" name="draft" value="{% if vessel.draft %}{{ vessel.draft }}{% endif %}"><br>
        i.e. 2.0 for a (6"5' draft)</p>
    
        <h3>Callsign:</h3>
        <p><input type="text" name="callsign" value="{{ vessel.callsign }}"><br>
        I.e. XYZ1234, ABCXYZ<br>
        Note: Must exactly match HF callsign used in YOTREPS style reports for this vessel.</p>
    
        <h3>MMSI</h3>
        <p>i.e. 512123456.<br>
        <input type="text" name="mmsi" value="{{ vessel.mmsi }}"></p>
    
        <h3>On Board Email Address:</h3>
        <p><input type="text" name="onboard_email_address" value="{{ vessel.onboard_email_address }}"><br>
        i.e. XYZ1234@sailmail.com or ABCXYZ@winlink.org.<br> 
        Note: We will never distribute email to this address, it is used to verify received position reports only.</p>
        
        <p><input type="submit"></p>
    </form>
</div>

{% endblock %}