{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block navbar %}{% endblock %}
{% block body %}
<body id="splash">
    <h1>Welcome to Keelscape</h1>
    <table>
        <td width="30%">
            <a href='{{ loginurl }}'><div class="button">Login</div></a><br>
            <a href='{{ loginurl }}'><div class="button">Sign Up</div></a><br>
            <a href='/vessellist'><div class="button">Who's out there?</div></a>
        </td>
        <td>
            <p style="text-align: justify">The website for mapping the waypoints, anchorages and routes as you travel seven seas.
                Your adoring public can view your position on the webpage or receive auto email updates.  The detailed
                descriptions you enter provide information for the cruising community and a handy reminder of your
                favourite anchorages.
            </p>
        </td>
    </table>
    </div>
</body>
{% endblock %}