{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block navbar %}{% endblock %}
{% block body %}
<body id="splash">
    <h1>Welcome to Keelscape</h1>
    <table>
        <td width="30%">
            <a href='{{ loginurl }}'><div class="button">Login</div></a><br>
            <div class="button"><a href='{{ loginurl }}'>Sign Up</a></div><br>
            <div class="button"><a href='/vessellist'>Who's out there?</a></div>
        </td>
        <td>
            <p style="text-align: justify; color: #FFFFFF">The virtual logbook for a cruiser to map their waypoints, anchorage data and routes from voyages. Your adoring public can also view your position on the webpage or receive email updates via the subscription button. Entering detailed descriptions provides information for the cruising community or a handy reminder of your favourite anchorages.</p>
        </td>
    </table>
    </div>
</body>
{% endblock %}