{% extends "base.html" %}
{% block title %}{{ vessel.name }}{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key={{ map.API_KEY }}">
    </script>
{% endblock %}
{% block content %}
    <h1>{{ vessel.name }}</h1>
{#    <iframe width="600" height="450" frameborder="0" style="border:0"#}
{#        src="{{ map_url }}"></iframe>#}
    <div id="map-canvas"></div>
    <h3>Found this service helpful?</h3>
    <p>Buy us a beer!</p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="NSBPBPP5B5AQ4">
        <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
    </form>



    <h2>Position Reports</h2>
    <p>
        {% if start_url %}<a href="{{ start_url }}">Back to start</a>  ...{% endif %}
        {% if older %}<a href="{{ next_page_url }}">Older</a>{% endif %}
    </p>
    <table class="center">
        <tr>
            <th class="lat">Latitude</th>
            <th class="lon">Longitude</th>
            <th>Date / Time (UTC)</th>
            <th>Depth (m)</th>
            <th>Speed (kts)</th>
            <th>Course (°T)</th>
            <th>Comment</th>
            {% block lastcolumn %}{% endblock %}
            <!--<th>Weather</th>-->
        </tr>
    {% block reportrow %}{% endblock %}
    {% for wpt in waypoints %}
        </tr>    
            <td>{{ wpt.human_readable_lat }}</td>
            <td>{{ wpt.human_readable_lon }}</td>
            <td>{{ wpt.report_date.strftime('%d %b %Y %H:%M') }}</td>
            <td>{{ wpt.depth | default('') }}</td>
            <td>{{ wpt.speed | default('') }} </td>
            <td>{{ wpt.course | default('') }}</td>
            <td class="table_comment">{{ wpt.comment | default('') | safe }}</td>
            {# TODO check behaviour of safe and check insert for no html.#}
            {% if active_page == 'myvessel' %}
            <td>
                <form action="/waypoint/delete/{{ wpt.key.urlsafe() }}" method="post">
                    <input type="submit" value="Delete" name="delete"><input type="hidden" name="redirect_url" value="{{ this_page_url }}">
                </form>
            </td>{% endif %}
        </tr>
    {% endfor %}
    </table>
    <p>
        {% if start_url %}<a href="{{ start_url }}">Back to start</a>  ...{% endif %}
        {% if older %}<a href="{{ next_page_url }}">Older</a>{% endif %}
    </p>
    <h2>Vessel Particulars</h2>
    <p><b>Name:</b> {{ vessel.name }}</p>
    <p><b>Length:</b> {{ vessel.loa }}</p>
    <p><b>Draft:</b> {{ vessel.draft }}</p>
    {% block privatedata %}{% endblock %}
    {% block editlink %}{% endblock %}
    {% block publicview %}{% endblock %}
{% endblock %}
{% block script %}
    <script type="text/javascript">
      function initialize() {

          var mapOptions = {
              center: new google.maps.LatLng({{ map.centre }}),
              zoom: {{ map.zoom }},
              mapTypeId: google.maps.MapTypeId.{{ map.type }}
          };

          var map = new google.maps.Map(document.getElementById("map-canvas"),
                  mapOptions);

          {% if map.vessel_location() %}
          current_position = new google.maps.LatLng({{ map.vessel_location() }});
              {% if map.wpts %}
              var wptCoords = [
                  {% for wpt in map.wpts %}new google.maps.LatLng({{ wpt.position.lat }}, {{ wpt.position.lon }}),{% endfor %}
                  current_position
              ];

              var previousPath = new google.maps.Polyline({
                  path: wptCoords,
                  geodesic: true,
                  strokeColor: '#FF0000',
                  strokeOpacity: 1.0,
                  strokeWeight: 2
              });

              previousPath.setMap(map);
              {% endif %}

          var marker = new google.maps.Marker({
            position: current_position,
            map: map,
            title: "{{ map.last_report() }}"
          });
          {% endif %}

      }
      function loadScript() {
          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
                'callback=initialize';
          document.body.appendChild(script);
      }
      window.onload = loadScript;
    </script>
{% endblock %}
