{% extends "base.html" %}
{% block title %}{{ vessel.name }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>{{ vessel.name }}</h1>
    <iframe width="600" height="450" frameborder="0" style="border:0"
        src="{{ map_url }}"></iframe>
    <h2>Position Reports</h2>
    <table class="center">
        <tr>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Date / Time</th>
            <th>Depth</th>
            <th>Speed</th>
            <th>Course</th>
            <th>Comment</th>
            <th>Weather</th>
            <!--<th>Weather</th>-->
        </tr>
    {% block reportrow %}{% endblock %}
    {% for wpt in waypoints %}
        </tr>    
            <td>{{ wpt.human_readable_lat }}</td>
            <td>{{ wpt.human_readable_lon }}</td>
            <td>{{ wpt.report_date }}</td>
            <td>{{ wpt.depth | default('') }}</td>
            <td>{{ wpt.speed | default('') }} </td>
            <td>{{ wpt.course | default('') }}</td>
            <td>{{ wpt.comment | default('') | safe }}</td>
            <td><a href="/weather/waypoint/{{ wpt.key.urlsafe() }}">weather</a></td>
        </tr>
    {% endfor %}
    </table>

    <h2>Vessel Particulars</h2>
    <p><b>Name:</b> {{ vessel.name }}</p>
    <p><b>Length:</b> {{ vessel.loa }}</p>
    <p><b>Draft:</b> {{ vessel.draft }}</p>
    {% block privatedata %}{% endblock %}
    {% block editlink %}{% endblock %}
    {% block publicview %}{% endblock %}
{% endblock %}
