{% extends "base.html" %}
{% block title %}{{ vessel.name }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block navbar %}
    <p>Want to create your own page? <a href='{{ loginurl }}'>Login</a></p>
{% endblock %}
{% block content %}
    <h1>{{ vessel.name }}</h1>
    <h2>Map</h2>
    <img src='/image/map.png'></img>
    <h2>Position Reports</h2>
    <table>
        <tr>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Date / Time</th>
            <th>Speed</th>
            <th>Heading</th>
            <th>Depth</th>
            <th>Comment</th>
            <th>Weather</th>
        </tr>
    {% block reportrow %}</table>{% endblock %}
    
    <h2>Vessel Particulars</h2>
    <p><b>Name:</b> {{ vessel.name }}</p>
    <p><b>Flag:</b> {{ vessel.flag }}</p>
    <p><b>Home Port:</b>  {{ vessel.home_port }}</p>
    <p><b>Length:</b> {{ vessel.length_over_all }}</p>
    <p><b>Draft:</b> {{ vessel.draft }}</p>
    <p><b>Callsign:</b> {{ vessel.callsign }}</p>    
    <p><b>MMSI:</b> {{ vessel.mmsi }}</p>
    {% block editlink %}{% endblock %}
    {% block publicview %}{% endblock %}
{% endblock %}
