{% extends "base.html" %}
{% block title %}Wayoint Detail{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<h1>Detail Position Report for {{ vessel.name }}</h1>

    <p><div id="map-canvas"></div></p>
    {% block table %}
    <div id="waypoint">
        <table class="center">
            <tr>
                <td class="col-l"><h3>Latitude</h3></td>
                    {% block lat %}<td>{{ wpt.human_readable_lat }}</td>{% endblock %}
            </tr>
            <tr>
                <td class="col-l"><h3>Longitude</h3></td>

                    {% block lon %}<td>{{ wpt.human_readable_lon }}</td>{% endblock %}

            </tr>
            <tr>
                <td class="col-l"><h3>Reported Date</h3></td>
                {% block report_date %}<td>{{ wpt.report_date.strftime('%d %b %Y %H:%M') }}</td>{% endblock %}
            </tr>
            <tr>
                <td class="col-l"><h3>Received Date</h3></td>
                <td>{{ wpt.received_date.strftime('%d %b %Y %H:%M') }}</td>
            </tr>
            <tr>
                <td class="col-l"><h3>Updated Date</h3></td>
                <td>{{ wpt.updated_date.strftime('%d %b %Y %H:%M') }}</td>
            </tr>
            <tr>
                <td class="col-l"><h3>Depth</h3></td>
                {% block depth %}<td>{{ wpt.depth | default('') }}</td>{% endblock %}
            </tr>
            <tr>
                <td class="col-l"><h3>Speed</h3></td>
                {% block speed %}<td>{{ wpt.speed | default('') }}</td>{% endblock %}
            </tr>
            <tr>
                <td class="col-l"><h3>Course</h3></td>
                {% block course %}<td>{{ wpt.course | default('') }}</td>{% endblock %}
            </tr>
            <tr>
                <td class="col-l"><h3>Comment</h3></td>
                {% block comment %}<td class="table_comment">{{ wpt.comment | default('') | safe }}</td>{% endblock %}</td>
            </tr>
        </table>
        {% endblock %}
        {% block edit_update %}
        <table class="center">
            <td style="text-align: center"><a href="/waypoint/edit/{{ wpt.key.urlsafe() }}"><div class="inside_button">Edit</div></a></td>
            <td style="text-align: center"><a href="/waypoint/delete/{{ wpt.key.urlsafe() }}"><div class="inside_button">Delete</div></a></td>
        </table>
        {% endblock %}
    </div>

{% endblock %}
{% block script %}
    <script type="text/javascript">
      function initialize() {

          var mapOptions = {
              center: new google.maps.LatLng({{ map.centre }}),
              zoom: {{ map.zoom }},
              mapTypeId: google.maps.MapTypeId.{{ map.type }}
          };

          var map = new google.maps.Map(document.getElementById("map-canvas"),
                  mapOptions);

          current_position = new google.maps.LatLng({{ map.wpt_position() }});

          var marker = new google.maps.Marker({
            position: current_position,
            map: map
          });
      }
      function loadScript() {
          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
                'callback=initialize';
          document.body.appendChild(script);
      }
      window.onload = loadScript;
    </script>
{% endblock %}